---
layout: main.ejs
h1: About Me in a Nutshell
---
<img src="/img/portrait.jpg" alt="my profile picture" class="profile-pic">
<h1>
	<%= h1 %>
</h1>
<p>
	What is there to say?.. My mission is to post some pictures of cats on the Internet. I'm sure I'm the 1st who came up with this idea - I'm going to be famous. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum lacus a eros placerat tempus. Ut mauris sem, dictum et ante ut, consequat iaculis nibh. Ut semper ligula convallis semper convallis. Fusce gravida pulvinar lectus eget placerat. Quisque purus lorem, tristique ut tempus ut, egestas in nisl. Praesent vulputate eget nisl sit amet gravida. Fusce maximus purus vel magna consequat pellentesque. Ut fringilla iaculis mi, sagittis rutrum augue iaculis vitae. Sed nec egestas diam. Vestibulum vel lacus lacinia, vestibulum sapien sit amet, blandit urna. Nullam risus arcu, interdum efficitur sem id, congue feugiat risus.
</p>